<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Issues</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'issues/issue_list.css' %}">
</head>
<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h1 class="app-title">Issue tracker</h1>
<a href="{% url 'issues:create' %}">new issue</a>
<form class="filter-form" action="{% url 'issues:index' %}" method="get">
  {% for hidden in filter.hidden_fields %}
  {{ hidden }}
  {% endfor %}
    <table class>
        <thead>
        <tr>
            {% for field in filter.visible_fields %}
            <th>{{ field.label|capfirst }}</th>
            {% endfor %}
            <td colspan="2"></td>
        </tr>
        </thead>
        <tr class="fields-row">
            {% for field in filter.visible_fields %}
            <td>
                {{ field }}
            </td>
            {% endfor %}
            <td><input type="submit" value="Filter"></td>
            <td class="clear-filter"><a href="{% url 'issues:index' %}">clear</a></td>
        </tr>
        <tr class="errors-row">
            {% for field in filter.visible_fields %}
            <td>
                {{ field.errors.as_ul }}
            </td>
            {% endfor %}
            <td colspan="2"></td>
        </tr>
    </table>
</form>
<table class="issues-list">
    <tr class="header">
        <th>Title</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Created by</th>
        <th>Created on</th>
    </tr>
    {% if issues_list %}
    {% for issue in issues_list %}
    <tr class="issue">
        <td><a href="{% url 'issues:view' issue.id %}">{{ issue.title }}</a></td>
        <td class="status">
            <img src="{% get_static_prefix %}issues/status_{{issue.status.icon}}.png"
                 alt="{{issue.status.text}}" title="{{issue.status.text}}">
        </td>
        <td class="issue-priority">{{ issue.priority }}</td>
        <td class="issue-created-by">
            <a href="{% url 'issues:view_user' issue.created_by.id %}">{{ issue.created_by }}</a>
        </td>
        <td class="issue-created-time">{{ issue.create_time }}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr class="no-issues">
        <td colspan="5">no issues found</td>
    </tr>
    {% endif %}
</table>
<form class="clear-db" action="{% url 'issues:reload_db' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Clear db">
</form>
</body>
</html>
