{% extends 'journal/base.html' %}

{% load bootstrap3 %}
{% load static %}

<link rel="stylesheet" href="{% static 'journal/journal_create.css' %}">
{% block content %}
<!DOCTYPE html>
<html lang="en">
<body>
<a href="{% url 'journals:index' %}">back</a>
<h2>Add mark</h2>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'journals:create' %}" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Create" title="Create issue">
</form>
</body>
</html>
{% endblock content %}
