{% extends 'journal/base.html' %}

{% load journal_extras %}
{% load bootstrap3 %}
{% load static %}

{% block local_styles %}
    <link rel="stylesheet" href="{% static 'journal/journal_list.css' %}">
{% endblock local_styles %}


{% block content %}
    <div class="container">
            <h1><a href="{% url 'journals:index' %}">{% block title %}Search by marks{% endblock %}</a></h1>
                <form action="{% url 'journals:sort' %}" method="get" class="form form-inline">
                {% bootstrap_form_errors form layout='inline' %}
                {% bootstrap_form form layout='inline' %}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        Go
                    </button>
                </div>
            </form>
            <a href="{% url 'journals:create' %}">New journal</a>
            <a href="{% url 'journals:top_students' %}">Top students</a>
            <a href="{% url 'journals:avarage' %}">Avarage marks</a>
            <a href="{% url 'journals:scholarship' %}">Most high grades</a>
        </div>
            <div class="table">
                <table class="table">
                    <thead>
                    <tr class="success">
                        <th>Student</th>
                        <th>Num of marks</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i, j in journals %}
                        <tr class="success">
                            <td colspan="2">{{ i }}</td>
                            {% for m, n in j.items %}
                            <tr>
                            <td >{{ m }}</td>
                            <td >{{ n }}</td>
                            </tr>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
{% endblock content %}