body {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

a {
    color: #7598a5;
    line-height: 0.75em;
}

.app-title {
    color: #525252;
    text-shadow: 1px 1px rgba(101, 101, 101, 0.8);
}

.filter-form table {
    margin-top: 1em;
    border-collapse: collapse;
}

.filter-form table thead tr {
    border-bottom: solid 1px gray;
    color: #999;
}

.filter-form table tr.fields-row {
    text-align: center;
    border-bottom: solid 1px gray;
}

.filter-form table tr.errors-row td {
    text-align: center;
}

.filter-form table tr.errors-row ul.errorlist {
    list-style: none;
    margin: 0;
    padding: 0.25em 0;
}

.filter-form table tr.errors-row ul.errorlist li {
    color: #d83629;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.filter-form table .clear-filter {
    padding: 0 1em;
}

.issues-list {
    border-collapse: collapse;
    width: 100%;
    color: #353535;
    border-bottom: 1px solid gray;
}

.issues-list td {
    padding: 0.25em;
}

.issues-list .issue-priority, .issues-list .issue-created-by {
    text-align: center;
}

.issues-list .issue-created-time {
    text-align: center;
}

.issues-list tr.header {
    border-bottom: 2px solid #767676;
    background-color: #68b98c;
    color: #f3f3f3;
    text-shadow: 1px 1px #555;
}

.issues-list tr.header th {
    padding: 0.15em;
    vertical-align: middle;
}

.issues-list tr.issue {
    border: 1px solid #767676;
}

.issues-list tr.issue td a {
    color: #353535;
    text-decoration: none;
    font-weight: bold;
}

.issues-list tr.issue td a:hover {
    color: #6491b9;
}

.issues-list tr.issue td.status {
    text-align: center;
}

.issues-list tr.no-issues {
    color: #353535;
    text-align: center;
}

form.clear-db {
    padding-top: 1em;
}

form.clear-db input[type=submit] {
    color: #df0000;
    font-weight: bold;
}
